<h3>{{title}} - {{displayQuery}}</h3>
<form [formGroup]="form" (ngSubmit)="sendQuery()">
    <div *ngFor="let key of modelKeys">
        {{key}}
        <input name="{{key}}" placeholder="Enter {{key}} Here" [(ngModel)]="model[key]" formControlName="{{key}}" />
    </div>
    <button type="submit" [disabled]="!form.valid">Submit</button>
</form>
<div *ngIf="searchResults; else elseBlock">
    <h3 class="total">Total Results: {{searchResults.total_count}}</h3>
    <ul class="list">
        <app-repository-display [searchResults]="searchResults.repositories" *ngIf="searchResults.repositories"></app-repository-display>
        <app-code-display [searchResults]="searchResults.code" *ngIf="searchResults.code"></app-code-display>
    </ul>
</div>
<ng-template #elseBlock>Loading...</ng-template>